<%- include('parts/header.ejs') %>
<div class="container mt-5">
<form  action="/login"  method="post">

    <div class="mb-3 w-50 m-auto">
      <h1 class="m-auto pb-4">Sign in</h1>
      <label for="exampleInputEmail1" class="form-label">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email" name="email">
    </div>
    <div class="mb-3 w-50 m-auto">
      <label for="exampleInputPassword1" class="form-label">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="password" name="password">
    </div>
    <div class="w-50 m-auto pt-4">
    <button type="submit" class="btn btn-success">Signin</button></div>
  </form></div>
   <%- include('parts/footer.ejs') %>